@import "~@fluentui/react/dist/sass/References.scss";

.load {
  .loader {
    margin: 100px auto;
    font-size: 25px;
    width: 1em;
    height: 1em;
    border-radius: 50%;
    position: relative;
    text-indent: -9999em;
    -webkit-animation: loadFrames 1.1s infinite ease;
    animation: loadFrames 1.1s infinite ease;
    -webkit-transform: translateZ(0);
    -ms-transform: translateZ(0);
    transform: translateZ(0);
  }
}

@keyframes loadFrames {
  0%,
  100% {
    box-shadow: 0em -2.6em 0em 0em rgba(#1f098a, 1),
      1.8em -1.8em 0 0em rgba(#1f098a, 0.2), 2.5em 0em 0 0em rgba(#1f098a, 0.2),
      1.75em 1.75em 0 0em rgba(#1f098a, 0.2), 0em 2.5em 0 0em rgba(#1f098a, 0.2),
      -1.8em 1.8em 0 0em rgba(#1f098a, 0.2), -2.6em 0em 0 0em rgba(#1f098a, 0.5),
      -1.8em -1.8em 0 0em rgba(#1f098a, 0.7);
  }

  12.5% {
    box-shadow: 0em -2.6em 0em 0em rgba(#1f098a, 0.7),
      1.8em -1.8em 0 0em rgba(#1f098a, 1), 2.5em 0em 0 0em rgba(#1f098a, 0.2),
      1.75em 1.75em 0 0em rgba(#1f098a, 0.2), 0em 2.5em 0 0em rgba(#1f098a, 0.2),
      -1.8em 1.8em 0 0em rgba(#1f098a, 0.2), -2.6em 0em 0 0em rgba(#1f098a, 0.2),
      -1.8em -1.8em 0 0em rgba(#1f098a, 0.5);
  }

  25% {
    box-shadow: 0em -2.6em 0em 0em rgba(#1f098a, 0.5),
      1.8em -1.8em 0 0em rgba(#1f098a, 0.7), 2.5em 0em 0 0em rgba(#1f098a, 1),
      1.75em 1.75em 0 0em rgba(#1f098a, 0.2), 0em 2.5em 0 0em rgba(#1f098a, 0.2),
      -1.8em 1.8em 0 0em rgba(#1f098a, 0.2), -2.6em 0em 0 0em rgba(#1f098a, 0.2),
      -1.8em -1.8em 0 0em rgba(#1f098a, 0.2);
  }

  37.5% {
    box-shadow: 0em -2.6em 0em 0em rgba(#1f098a, 0.2),
      1.8em -1.8em 0 0em rgba(#1f098a, 0.5), 2.5em 0em 0 0em rgba(#1f098a, 0.7),
      1.75em 1.75em 0 0em rgba(#1f098a, 1), 0em 2.5em 0 0em rgba(#1f098a, 0.2),
      -1.8em 1.8em 0 0em rgba(#1f098a, 0.2), -2.6em 0em 0 0em rgba(#1f098a, 0.2),
      -1.8em -1.8em 0 0em rgba(#1f098a, 0.2);
  }

  50% {
    box-shadow: 0em -2.6em 0em 0em rgba(#1f098a, 0.2),
      1.8em -1.8em 0 0em rgba(#1f098a, 0.2), 2.5em 0em 0 0em rgba(#1f098a, 0.5),
      1.75em 1.75em 0 0em rgba(#1f098a, 0.7), 0em 2.5em 0 0em rgba(#1f098a, 1),
      -1.8em 1.8em 0 0em rgba(#1f098a, 0.2), -2.6em 0em 0 0em rgba(#1f098a, 0.2),
      -1.8em -1.8em 0 0em rgba(#1f098a, 0.2);
  }

  62.5% {
    box-shadow: 0em -2.6em 0em 0em rgba(#1f098a, 0.2),
      1.8em -1.8em 0 0em rgba(#1f098a, 0.2), 2.5em 0em 0 0em rgba(#1f098a, 0.2),
      1.75em 1.75em 0 0em rgba(#1f098a, 0.5), 0em 2.5em 0 0em rgba(#1f098a, 0.7),
      -1.8em 1.8em 0 0em rgba(#1f098a, 1), -2.6em 0em 0 0em rgba(#1f098a, 0.2),
      -1.8em -1.8em 0 0em rgba(#1f098a, 0.2);
  }

  75% {
    box-shadow: 0em -2.6em 0em 0em rgba(#1f098a, 0.2),
      1.8em -1.8em 0 0em rgba(#1f098a, 0.2), 2.5em 0em 0 0em rgba(#1f098a, 0.2),
      1.75em 1.75em 0 0em rgba(#1f098a, 0.2), 0em 2.5em 0 0em rgba(#1f098a, 0.5),
      -1.8em 1.8em 0 0em rgba(#1f098a, 0.7), -2.6em 0em 0 0em rgba(#1f098a, 1),
      -1.8em -1.8em 0 0em rgba(#1f098a, 0.2);
  }

  87.5% {
    box-shadow: 0em -2.6em 0em 0em rgba(#1f098a, 0.2),
      1.8em -1.8em 0 0em rgba(#1f098a, 0.2), 2.5em 0em 0 0em rgba(#1f098a, 0.2),
      1.75em 1.75em 0 0em rgba(#1f098a, 0.2), 0em 2.5em 0 0em rgba(#1f098a, 0.2),
      -1.8em 1.8em 0 0em rgba(#1f098a, 0.5), -2.6em 0em 0 0em rgba(#1f098a, 0.7),
      -1.8em -1.8em 0 0em rgba(#1f098a, 1);
  }
}

.cwform {
  overflow: hidden;
  padding: 1em;
  color: "[theme:bodyText, default: #323130]";
  color: var(--bodyText);
  &.teams {
    font-family: $ms-font-family-fallbacks;
  }
}

.welcome {
  text-align: center;
}

.welcomeImage {
  width: 100%;
  max-width: 420px;
}

.links {
  a {
    text-decoration: none;
    color: "[theme:link, default:#03787c]";
    color: var(
      --link
    ); // note: CSS Custom Properties support is limited to modern browsers only

    &:hover {
      text-decoration: underline;
      color: "[theme:linkHovered, default: #014446]";
      color: var(
        --linkHovered
      ); // note: CSS Custom Properties support is limited to modern browsers only
    }
  }
}

@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
    pointer-events: inherit;
  }
}
@keyframes fadeOut {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
    pointer-events: none;
  }
}

.hidden {
  animation: fadeOut 1s forwards;
}

.visible {
  visibility: visible;
  animation: fadeIn 3s forwards;
}
